html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  font-size: 1.2em;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
}

.visible {
  visibility: visible !important;
}

.stats {
  visibility: hidden;
  height: 30%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 6em;
}

.user {
  display: flex;
  align-items: center;
}

.user.crashed {
  color: red;
  opacity: 0.5;
}

.user-name {
  flex: 0 1 100px;
}

.progress {
  flex: 1;
  height: 0.7em;
  border: 1px solid #000;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  background: grey;
}

.message {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  height: 15%;
  align-items: center;
  justify-content: center;
}

.text {
  visibility: hidden;
  text-align: justify;
}

.text span {
  text-decoration: underline;
  background-color: #b7f2b7;
}

.text strong {
  font-weight: bold;
}

.text strong.error {
  background-color: #f86b6b;
}

.countdown {
  visibility: hidden;
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: center;
}

.time {
  font-size: 1.2em;
}

.commentator {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  width: 450px;
  height: 150px;
}

.commentator .photo img {
  height: 150px;
}

.commentator .comments {
  padding: 1em;
  flex: 1 0;
  overflow-y: scroll;
  font-size: 0.8em;
}

.commentator .comments p {
  margin: 0.3em 0;
}
